<template>
    <div class="coin-list">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr is="coin-show" v-for="coin in coins" :key="coin.CoinInfo.Id" :coin="coin"></tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  import CoinShow from './CoinShow'

  export default {
    name: 'CoinList',
    props: {
      coins: Array
    },
    components: {
      CoinShow
    }
  }
</script>

<style>
    table {
        border-collapse: collapse;
    }
    td, th {
        padding: .75rem;
        vertical-align: middle;
    }
    thead th {
        vertical-align: bottom;
    }
    tbody th, tbody td {
        border-top: 1px solid #dee2e6;
    }
    .coin-list {
        text-align: left;
    }
</style>
