<template>
    <tr>
        <th>
            <img class="image" v-if="coinInfo.ImageUrl" :src="getFullUrl(coinInfo.ImageUrl)" :alt="coinInfo.Name">
        </th>
        <th class="name">{{coinInfo.FullName}}</th>
        <th class="price">{{display.PRICE}}</th>
    </tr>
</template>

<script>
  export default {
    name: 'CoinShow',
    data () {
      return {
        baseUrl: 'https://www.cryptocompare.com'
      }
    },
    props: {
      coin: {
        type: Object,
        required: true
      }
    },
    computed: {
      coinInfo () {
        return this.coin.CoinInfo
      },
      display () {
        return this.coin.DISPLAY.RUB
      }
    },
    methods: {
      getFullUrl (path) {
        return this.baseUrl + path
      }
    }
  }
</script>

<style scoped>
    .image {
        max-width: 30px;
    }
</style>
