<template>
    <div id="app">
        <h1>Top 50 cryptocurrencies</h1>
        <coin-list :coins="coins"/>
    </div>
</template>

<script>
  import CoinList from './components/CoinList.vue'

  export default {
    name: 'app',
    data () {
      return {
        axiosConfig: {
          baseURL: 'https://min-api.cryptocompare.com/',
          params: {
            api_key: 'a75e71197862b6a19db2533efc650c54858ccc1f8dada9990622510a1b2fbad4'
          }
        },
        coins: []
      }
    },
    components: {
      CoinList
    },
    created () {
      this.loadTopList()
    },
    methods: {
      async loadTopList () {
        try {
          const response = await this.$http.get('/data/top/mktcapfull?limit=50&tsym=RUB&extraParams=flow-test-task', this.axiosConfig)
          let coins = response.data.Data
          coins.sort((a, b) => b.RAW.RUB.PRICE - a.RAW.RUB.PRICE)
          this.coins = coins
        } catch (error) {
          console.error(error)
        }
        setTimeout(this.loadTopList, 120000)
      }
    }
  }
</script>

<style>
    *, ::after, ::before {
        box-sizing: border-box;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
